.imageCreateGame {
  width: 200px;
  height: 30px;
}

.nameCreateGame {
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

.developedCreateGame {
  width: 200px;
  height: 30px;
}

.selectCreateGame {
  width: 200px;
  height: 30px;
}
