.plataforms-grid {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -560px;
  margin-top: -100px;
}

.plataforms-images {
  width: 12rem;
  height: 12rem;
  border-radius: 15%;
  border: 3px solid rgb(0, 0, 0);

}
